/* Media Query for <= 992px */
@media screen and (max-width: 992px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2.1rem;
  }
  #navbar {
    padding: 3.2rem 2%;
  }
  .banner-content {
    padding: 4rem 8%;
  }
  .banner-img {
    padding-right: 8%;
  }

  .play-instantly-info {
    padding: 0 7%;
  }

  .all-games {
    grid-template-columns: repeat(3, 1fr);
  }
  .game-1,
  .game-2,
  .game-3,
  .game-4,
  .game-5,
  .game-6,
  .game-7,
  .game-8,
  .game-9 {
    grid-area: auto;
  }
}

/* Media Query for <= 768px */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.4;
  }
  .banner-btn {
    gap: 1rem;
  }
  .btn-primary {
    font-size: 1.4rem;
    padding: 1.4rem 2.8rem;
  }
  #navbar {
    flex-direction: column;
    gap: 3rem;
    box-shadow: none;
  }

  #banner {
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 2rem;
  }
  .banner-content,
  .banner-img {
    width: 85%;
    margin: 0 auto;
  }
  .banner-content {
    padding: 8rem 10rem;
  }

  .online-games-videos {
    grid-template-columns: repeat(2, 1fr);
  }

  .play-instantly-info {
    padding: 0 3% 0 0;
  }
  .play-instantly-info h2 {
    line-height: 3rem;
  }

  .all-games {
    grid-template-columns: repeat(3, 1fr);
    padding: 7rem 6%;
    gap: 1.5rem;
  }
  .single-game img {
    width: 40px;
    height: 40px;
  }
}

/* Media Query for <= 576px */
@media screen and (max-width: 576px) {
  body {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.4rem;
  }

  #navbar ul {
    flex-direction: column;
    gap: 2rem;
  }
  .follow {
    margin-top: 1rem;
  }
  .banner-content {
    padding: 4rem 5rem;
  }

  .online-games-videos {
    grid-template-columns: 1fr;
  }

  #play-instantly {
    flex-direction: column;
    gap: 8%;
    padding: 0 10%;
  }
  .play-instantly-info,
  .play-instantly-img {
    width: 80%;
    text-align: center;
  }

  .all-games {
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 3%;
    margin-top: 6rem;
    gap: 1rem;
  }
  .single-game {
    gap: 0.5rem;
    padding: 0.6rem;
    background: #fff;
    border-radius: 50px;
  }
  .single-game img {
    width: 35px;
    height: 35px;
  }
}
