/* Media Query for <= 768px */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 3rem;
  }
}

/* Media Query for <= 576px */
@media screen and (max-width: 576px) {
  .navbar ul {
    flex-direction: column;
    gap: 2rem;
  }
  .follow {
    margin-top: 1rem;
  }
}
