/* Common Styles */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.2rem;
}

p {
  color: #534c64;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
}

.logo-highlight {
  color: #ff42a5;
}

.special-heading {
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}

.btn-primary {
  color: #fff;
  background: #ff42a5;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.8rem 3.5rem;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}
.btn-secondary {
  background: #4ec5f7;
}

header,
#online-games,
#play-instantly {
  max-width: 1440px;
  margin: 0 auto;
}

.section-description {
  line-height: 3rem;
  margin: 1.2rem auto;
}

/* Header Section */

/* Navbar Section */
#navbar {
  padding: 3.2rem 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container {
  display: flex;
  align-items: center;
}

#navbar ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-link {
  color: #3c354f;
  font-weight: 500;
  padding: 0.6rem 0.8rem;
}
.follow {
  display: flex;
  align-items: center;
  padding: 1.7rem 2.4rem;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  gap: 1.8rem;
}

/* Banner Section */
#banner {
  display: flex;
  gap: 5rem;
}
.banner-content,
.banner-img {
  width: 50%;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/banner-bg.png);
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 12%;
}
.banner-img {
  padding-right: 12%;
}
.banner-content h2 {
  color: #0b0223;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.banner-content p img {
  width: 24px;
}
.banner-btn {
  display: flex;
  gap: 3rem;
  margin-top: 3.5rem;
}

/* Online Games */
#online-games {
  text-align: center;
  margin: 9rem auto;
  padding: 0 10%;
}
.online-games-videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.online-games-videos > div {
  text-align: left;
}

/* Play Instantly */
#play-instantly {
  display: flex;
  align-items: center;
  gap: 8%;
  padding: 0 10% 10rem;
}
.play-instantly-info,
.play-instantly-img {
  width: 50%;
}
.play-instantly-info {
  text-align: right;
  padding: 0 10%;
}
.play-instantly-info h2 {
  line-height: 5rem;
}
.play-instantly-img {
  position: relative;
}
.sub-img {
  position: absolute;
  left: -20%;
  top: 55%;
  width: 50%;
}
.sub-img img {
  width: 50%;
}
